:root {
    --blue: #2c2546;
    --dark-blue: #1b1535;
    --green: #00eb09;
    --white: #fff;
}

*{
    text-decoration: none;
    margin:0px;
    padding:0px;
}
html{
    scroll-behavior: smooth;
}
body{
    margin:0px;
    padding: 0px;
    font-family:'Open Sans',sans-serif;
    background-color: var(--dark-blue);
    color: var(--white);
    
    
}

.logo1{
    width: 100px;
    height: 100px;
    mix-blend-mode:multiply;
}


.wrapper{
    width:1100px;
    margin:auto;
    position: relative;
    
}
.logo a{
    font-size: 30px;
    font-weight: 800;
    float:left;
    font-family: 'Courier New', Courier, monospace;
    color:#153448;
}

.menu{
    float:right;
}
.daftar{
    background-color:rgb(115, 223, 223);
    border-radius: 20px;
    margin-top: 20px;
    padding:15px 20px 15px 20px;
    color:#153448;
    font-weight: bold;
}
.wrapper input{
    width: 30%; /* ubah lebar menjadi 60% agar lebih luas */
    border: none;
    border-radius: 10px 0px 20px 5px; /* ubah border radius agar sesuai dengan input search */
    padding: 5px; /* tambahkan sedikit padding */
    margin-left: 120px;
    background-color:rgb(58, 56, 56);
   
}
.wrapper button{
    border: none;
    border-radius:10px 0px 15px 5px;
    padding: 5px 10px; /* tambahkan sedikit padding */
    margin-left: 10px;
    color: var(--blue);
    font-weight: bold;
    background-color:rgb(58, 56, 56); 
    cursor: pointer;
}



.info{
 justify-content: center;
 text-align: center;
 margin-top: 10px;
 padding: 0px;
 }
 .sideinfo .enter{
    margin-bottom: 10px;
 }

.slider{
    margin: 0px;
    padding: 0px;
    height:100dvh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.isi-slider{
    margin: 0;
    padding: 0;
    width: 50%;
    height: 50%;
    background-size: 100% 100%;
    box-shadow: 20px 20p 10px black;
    animation: slider 10s linear infinite;
    border-radius: 10px;
}
@keyframes slider{
    0%{
        background-image: url('images/gambar1.jpg');
    }
    25%{
        background-image: url('images/ml.jpg');
    }
    50%{
        background-image: url('images/pubg.jpeg');
    }
    75%{
        background-image: url('images/dunia1.jpg');
    }
    100%{
        background-image: url('images/dunia2.jpg');
    }
}

/*.slider{
    width: 50%;
    height: 200px;
    display: flex;
    gap: 5px;
    margin-right: 40px;
}

.slider img {
    margin:15px 5px;
    width:10%;
    height: 100%;
    border-radius: 5px;
    object-fit: cover;
    border:2px solid white;
    transition: all ease-in-out 1s;
    transition: all ease-in 1s;
}
.slider img:hover{
    width:50%;
}
.info1{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;  
    margin-right: 0;
    align-items:flex-start;
    float: left;
 }
 
.sideinfo .enter{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-left: 35%;
}

.enter{
    justify-content: center;
    border-radius: 20px;
    margin-top: 20px;
    padding:15px 20px 15px 20px;
    color:#153448;
    font-weight: bold;
    font-size: large;
    width: 65px;
}*/



nav{
    width: 100%;
    margin:auto;
    display:flex;
    line-height: 80px;
    position: sticky;
    position: -webkit-sticky;
    top:0;
    background-color: var(--blue);

   
}

nav ul{
    list-style-type: none;
    margin:0;
    padding:0;
    overflow:hidden;
}
nav ul li{
    float: left;
}
nav ul li a{
    color:#153448;
    font-weight: bold;
    text-align: center;
    padding:0px 16px 0px 16px;
    text-decoration: none;
}
/*untuk daftar html*/
.topup{
    display:grid;
    grid-template-columns: repeat(7,1fr);

}
.topup img{
    width:100px;
    height: 100px;
    margin:10px 0px 0px 5px;
    border-radius: 10px;
}


